.widthofForm{
    width: 700px;
    margin: auto;
    border: lightgrey 1px solid;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.userProfileHeader{
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.outerProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.UserDisplay{
    width: 400px;
    margin: auto;
    border: #888367 3px solid !important;
    padding: 20px;
    border-radius: 30px !important;
}

.photoProfile{
    border-radius: 100px;
    margin: auto;
    width: 200px !important;
}