.jumbotronFooter {
    height: 380px;
    background-image: url("../Images/footer2.jpg");
    position: relative;
    
  }

  .copyright{
      position: absolute;
      top: 320px;
      left: 724px;
      color: white;
    font-size: 20px !important;

  }