.topMessage{
    width: 100% !important;
    height: 40px;
    text-align: center;
    padding: 8px;
    background-color: #191811 !important;

    color: white !important;
    font-weight: bold;
    
  }

  .navbar1{
      width: 100%;
      background-color:#34495E ;
      height: 80px;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto; */

  }

  .navbar1 a{
      color: white;
      font-size: 20px;
      text-decoration: none;
  }

  .navbar1 a:hover{
    text-decoration: none;
    color: lightgrey;

  }

  .outerNav{
      width: 100%;
  }

  .navbarBrand{
      font-weight: bold;
      margin-left: 70px;
}

  .navbarBrand a{
      font-size: 30px !important;
  }

  .navinner{
      padding-left: 680px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .nav-item{
display: flex;

}


.modalbutton1{
    margin-right: 15px;
}

.modalbutton2{
    margin-right: 15px;
}

.profilePic{
    margin-right: 5px;
}

.outerBoth{
    border: #f9f5f2 3px solid;
    border-radius: 15px !important;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
justify-content: center;
background-color: rgb(41, 58, 45) !important;


}

.dropdown-menu{
    background-color: rgb(41, 58, 45) !important;
    border-radius: 20px !important;
    width: 200px;
    height: 50px;
    font-size: 10px;
}

.dropdown-item a{
    font-size: 16px;

}

.dropdown-item a:hover{
    text-decoration: none;
    color: white

}

.dropdown-item:hover{
    text-decoration: none;
    background-color: rgb(41, 58, 45) !important;
    border-radius: 40px;
    color: lightgrey;

}

.button{
    text-decoration: none;


}






  