.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contactFrm{
  width: 600px;
  min-height: 300px;
  border: lightgrey 1px solid;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.footerBottom{
  margin: auto;
  
}

.thanksmessage{
  margin: auto;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
  color: #34495E;
}

.submitbtn1 {
  width: 100px;
  background-color: #34495E !important;
}

.review{
  width: 500px;
  margin: auto;
  margin-top: 80px;
}

.reviewdisplay{
  width: 500px;
  min-height: 90px;
  border: lightgrey 1px solid !important;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #34495E;
  color: white;
  padding-top: 30px;
  
  
  
}

.topreview{
  margin-top: 40px;
}

.backbtn{
  width: 40px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: #34495E;
  color: white;
  margin-right: 20px;
}

.nextbtn{
  width: 40px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: #34495E;
  color: white;
}

.outeryourreview{
  margin: auto;
  width: 542px;
  margin-top: 40px;
  border-radius: 15px;
}


.modaleditbtn{
  margin-right: 10px;
  background-color: red !important;
}

.modaleditbtn1{
  background-color:#34495E !important;
}

.submit1btn{
  background-color: #34495E  !important;
}

.submitbtn1{
  background-color: #34495E  !important;


}

.outerbuttons1{
  display: flex;
  align-items: baseline;
  justify-content: center;

}

.deleteButton2{
  background-color: red !important;
  margin-left: 10px;
}

.ratebar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #34495E ;
  color: white;
  border-radius: 15px;
}

.outerouterreview{
    height: 380px;
    width: 600px;
    margin: auto;
    border: lightgrey 1px solid;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fullshirt{
  border-radius: 20px;
}

.fullshirtimage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.titleName{
  background-color: #34495E;
  height: 70px;
  width: 900px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.fullhr{
  width: 900px;
  margin-top: 30px;
}

.backtostorebtn{
  display: flex;
  justify-content: center;
}

